.news-hero {
    width: 100%;
    min-height: 560px;
    /* margin-top: 88px; */

    display: flex;
    align-items: center;

    background-image: url("/media/n1.webp");
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
}

@media (max-width: 768px) {
    .news-hero {
        min-height: 520px;
        background-position: center;
    }
}

@media (max-width: 480px) {
    .news-hero {
        min-height: 460px;
    }
}
