.specSheet{
    background-image: url("/media/img65.png");
    background-size : cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 1729px;   
    padding: 80px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1024px) {
    .specSheet {
        min-height: auto;
        padding: 64px 48px;
    }
}

@media (max-width: 768px) {
    .specSheet {
        padding: 56px 24px;
    }
}

@media (max-width: 480px) {
    .specSheet {
        padding: 48px 18px;
    }
}
