.section {
  background-image: url("/media/backGround1.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  padding: 80px 20px;
  text-align: center;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin: 0 auto;
  max-width: 900px;
}

.title {
  font-family: Urbanist;
  font-size: clamp(28px, 5vw, 52px);
  font-weight: 800;
  line-height: 100%;
  margin: 0;
}

.description {
  color: #cbd3df;
  font-size: clamp(14px, 2vw, 18px);
  line-height: 33px;
  margin: 0;
  font-weight: 400;
  max-width: 650px;
  color: #FFFFFFD9;
}

@media (max-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .container {
    gap: 26px;
  }
}

@media (max-width: 480px) {
  .section {
    padding: 48px 18px;
  }

  .description {
    line-height: 26px;
  }

  .container :global(.custom-btn) {
    width: 100%;
  }
}
