/* LeadershipSection.module.css */

.section {
  padding: 100px 0;
  background: linear-gradient(
    90deg,
    #EEF7E9 0%,
    #DFF7EF 100%
  );
}

.topSection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin-bottom: 72px;
}

.leftContent {
  width: 520px;

  display: flex;
  flex-direction: column;

  gap: 24px;
}

.rightContent {
  width: 520px;
  padding-top: 40px;
}

.boardTitle {
  font-family: var(--font-urbanist);
  font-size: 48px;
  font-weight: 600;

  color: rgba(255, 255, 255, 0.7);

  margin-bottom: 40px;
}

.cardsWrap {
  display: flex;
  gap: 16px;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 16px;

  margin-top: 48px;
}

.arrowBtn {
  width: 44px;
  height: 44px;

  border-radius: 50%;
  border: none;

  background: #73B33F;
  color: #ffffff;

  font-size: 20px;
  cursor: pointer;
}